@media (min-width: 992px) and (max-width: 1199.98px) {


    /* Extra large device */
}

@media (min-width: 768px) and (max-width: 991.98px) {


    /* Large device */
}

@media (min-width: 576px) and (max-width: 767.98px) {


    /* Medium device */
}


@media (max-width: 575.98px) {

    .scene {
        width: 400px;
    }

    .carousel__cell {
        width: 400px;
        height: 85%;
        left: 42px;
        top: 40px;
        line-height: 25px;
        font-size: 19px;
}

    .ressMain {
        margin-left: -208px;
    }

    .ress {
        height: 22px;
        width: 71px;
    }

    .ress p {
        font-size: 10px;
    }

    .ress img {
        height: 18px;
        border-radius: 15px;
    }

    .bottom_navi {
        zoom: 55%;
    }

    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 45px;
        z-index: 99999;
        background: #2beee7;
        width: 25px;
        height: 25px;
        border-radius: 4px;
        transition: all 0.4s;
    }
    /* Small device */
}
